# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Prisma
/src/generated/prisma

# IDE
.vscode/*
.vscode-test
!.vscode/extensions.json
.idea


# other
.DS_Store
Thumbs.db
